/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(191, 222, 212);
    text-align: center;

}
header{
    background-color: rgb(92, 185, 202);
    color: rgb(17, 48, 83);
    padding: 20px;
}

Card{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
}

footer{
    background-color: rgb(197, 22, 22);
    color: rgb(17, 48, 83);
    position: fixed;
    bottom: 0;
    width: 100%;
}    */